:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

ul::-webkit-scrollbar {
  width: 7px;
}

ul::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 8px;
}

ul::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 8px;
}

ul::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 8px;
}
